h1 {
  color: red;
}

h2 {
  color: red;
  font-style: italic;
  font-weight: bolder;
}

#my-styles1 {
  text-decoration: line-through;
  font-weight: bold;
}

#my-styles2 {
  font-weight: bold;
  background-color: yellow;
}

#my-styles4 {
  letter-spacing: 5px;
}

a {
  font-style: italic;
  background-color: yellow;
  color: red;
}
